<h1 class="center">Welcome to DuckHunter</h1>
<br>
<h2 class="center">DuckHunter is an online marketplace for buying and selling every programmers essentail tool: Rubber Duckies.</h2>
<br>
<ul class="center">
  <h3>This application was created using Rails 5, Ruby 2.3.1, and PostgreSQL.</h3>
  <h3>User login was created from scratch using OmniAuth with Facebook.</h3>
  <h3>Photo uploads were built using paperclip connected to an AWS S3 Bucket</h3>
  <h3>Payment platform built using Swipe API Integration.</h3>
  <h3>Front end styling using Bootstrap3</h3>
</ul>
<br>
<ul class="center">
  <h2>The best way to test Swipe functionality is to use the following information provided in the Swipe Documentation:</h2>
  <ul>
  <h3>Credit Card Number: 4242424242424242</h3>
  <h3>CVC can be any number</h3>
  <h3>Routing Number: 111000025</h3>
  <h3>Account Number: 000123456789</h3>
  </ul>
</ul>
