<h1>Here are some great ways to contact me if you have any questions:</h1>
<ul>
  <h2> <%= link_to "LinkedIn", "https://www.linkedin.com/in/russelviola/" %> </h2>
  <h2> <%= link_to "GitHub", "https://github.com/RusselViola" %> </h2>
  <h2> <%= mail_to "russelviola@gmail.com", "RusselViola@gmail.com" %> </h2>
</ul>
